body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

/* Shared properties */

.header, .footer, .hero-section {
    background-color: #1F2937;
}

.header, .hero-section, .cta-section {
    padding: 0px 166px; 
}

.info-section, .quote-section {
    padding: 0px 250px; 
}


.hero-section, .info-section, .quote-section, .cta-section {
    flex-grow: 1;
}

ul.header-links, .hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

/* Header section */

.header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero-text {
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

ul.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

/* Hero section */

.hero-section {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.hero-image {
    flex: 1;
    height: 5%;
    width: 5%;
}

.hero-signup {
    align-self: flex-start;
    padding: 8px 32px;
    font-weight: bold;
    color:white;
    background-color: #3882f6;
    border-radius: 10px;
    border-style: none;
}

/* Info section */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-item-container {
    display: flex;
    gap: 30px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-item-box {
    width: 150px;
    height: 150px;
    border-color: #3882f6; 
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.info-item-text {
    text-align: center;
}
/* Quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

/* CTA section */

.cta-section {

}


.footer {
    color: #e5e7eb;
    font-size: 18px;
    height: 66px;

    display: flex;
    justify-content: center;
    align-items: center;
}